	<!DOCTYPE HTML>
<html 
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Server Programming with Spring Boot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
	<body>

		<h1>Home Page</h1>
		
		
			<a th:href="@{/customer}">My personal data</a> <br>
			<a th:href="@{/exerciselist}">My Exercises</a>
			<p>Exercise History<p>
			<p>Weight History<p>
			
		
		
		
		
	</body>
</html>