	<!DOCTYPE HTML>
<html 
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Server Programming with Spring Boot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
	<body>

		<h1>Edit customer</h1>
		
		<form action="#"  th:action="@{../savecustomer}"  th:object = "${customerparameter}" method="post" >
			
				
				<input type="hidden" id="id" th:field="*{paramId}" />
				<p>Weight:<input type="text" th:field="*{weight}"/></p>
				<p>Height:<input type="text" th:field="*{height}"/></p>
				<p>Date:<input type="date" th:field="*{date}"/></p>
			
			<p><input type="submit" value="Save" /></p>
		</form>
		
		
		
	</body>
</html>