	<!DOCTYPE HTML>
<html
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Server Programming with Spring Boot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

	<body>
	
		<h1>Customer</h1>
			<table  class="table table-striped">
				<tr>
				<th>Name</th>
				<th>Date of birth</th>
				<th>Weight</th>
				<th>Height</th>
				</tr>
				
				<tr th:each = "customerparameter:${anything}" >
					<td th:text = "${customerparam[0].weight}"></td>
					<td th:text = "${customerparam[0].height}"></td>
					
				
				</tr>
				
			</table>
			
			<a th:href = "@{/addcustomer}" class="btn btn-success">Change my data</a>
	
	
	</body>





</html>